body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
    
}

.header {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 1126px;
}

.btn-sign-in {
    color: #173A56;
    background-color: #FFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    height: 46px;
    width: 102px;
    margin-right: 14px;
    margin-left: 29px;
    
}

.btn:hover {
    background-color: rgb(190, 104, 46);
    scale: 1.05;
    cursor: pointer;
}


.btn-sign-up {   
    border: none;
    width: 110px;
    height: 46px;
}

.img-pos1 {
    display: flex;
    margin-top: 22px;
}

.footerlogo {
    display: flex;
    justify-content: flex-start;
}
.text-header {
    display: flex;
    margin: 10px;
    align-items: center;
    
}

.btn-header {
    display: flex;
    
}

.logo {
    margin-right: 12px;
}
.text-400 {
    font-style: normal;
    font-weight: 400;
}

.text-500 {
    font-style: normal;
    font-weight: 500;
}

.text-header {
    font-size: 14px;
    line-height: 28px;
    color: #2F281E;
}

.text-700 {
    font-style: normal;
    font-weight: 700;
    
}

.footerlogo {
    display: flex;
    align-items: flex-start;
}
.btn-text {
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

.text-600 {
    font-weight: 600;
}

.btn-orange {
    color: #FFFFFF;
    background-color:#FF9900;
    border-radius: 4px;
    border:none;
}

.h2-1 {
    width: 518px;
    height: 108px;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 30px;
}

.info1 {
    width: 458px;
    height: 95px;
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 28px;
}

.btn-get-started {
    width: 175px;
    height: 53px;
    font-size: 18px;
    line-height: 28px;
}



.link-video {
    color:#FF9900;
    margin-left: 30px;
    font-size: 16px;
    line-height: 24px;
    
}

.img-jump {
    width: 605px;
    height: 496px;
}

.container1 {
    display: flex;
    margin-top: 30px;
}

.container1-left {
    display: flex;
    flex-direction: column;
}




.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
   

}

.container2-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 54px;
    margin-bottom: 34px;
    width: 1095px;
    
}

.cont-2-title {
    font-size: 22px;
    line-height: 33px;
}
.header2 {
    max-width: 539px;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
}

.content2-width {
    max-width: 240px;
}

.icon {
    margin-bottom: 30px;
}

.btn-sign-up2 {
  width: 175px;
  height: 53px;
  margin-bottom: 90px;
  
}

.container3 {
    display: flex;
    margin-top: 120px;
    width: 1110px;
    justify-content: space-between;
}

.container3-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 486px;
    
}

.header3 {
    max-width: 385px;
    font-size: 36px;
    line-height: 54px;
    margin-top: 3px;
}

.container4 {
    display: flex;
    margin-top: 101px;
    width: 1121px;
    justify-content: space-between;
}

.container4-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 486px;

}

.header4 {
    max-width: 342px;
    font-size: 36px;
    line-height: 54px;
}

.tick-text {
    display: flex;
    align-items: center;
    width: 430px;
}

.tickmark-text {
    margin-left: 30px;
}

.container5 {
    display: flex;
    margin-top: 120px;
    width: 1119px;
    justify-content: space-between;
}

.container5-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 486px;
    
}

.header5 {
    max-width: 385px;
    font-size: 36px;
    line-height: 54px;
    margin-top: 3px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 146px;
    width: 1109px;
    height: 308px;
    border-top: 1px solid #BCD0E57F;
}


.footer-content-left {
    display: flex;
    flex-direction: column;
    width: 72px;
    font-size: 16px;
    line-height: 35px;
    margin-top: 102px;
}

.footer-content-right {
    display: flex;
    flex-direction: column;
    width: 132px;
    font-size: 16px;
    line-height: 35px;
    margin-top: 102px;
}

.btn-sign-up-now-foot {
   width: 131px;
   height: 39px;
   margin-top: 21px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 199px;
    margin-top: 102px;
}

.footer-input {
    width: 325px;
    height: 48px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}

.img-pos2 {
    display: flex;
    margin-top: 102px;
    position: relative;
    top: -50px;

   
}